{% extends 'base.html'%}

{% block head %}
    <title>Home Page</title>
{% endblock %}

{% block body %}
    {% if tasks|length == 0 %}
        <h1>No tasks yet</h1>
    {% else %}


    <h1>TASK TRACKER</h1>
    <table>
        <tr>
            <th>date created</th>
            <th>content</th>
            <th>options</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.date_created.date() }}</td>
            <td>{{ task.content }}</td>
            <td>
                <a href="/update/{{ task.id }}">Update</a>
                <br>
                <a href="/delete/{{ task.id }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <button type="submit" value="Add">Add</button>
    </form>
{% endblock %}